.appart-details {
  width: 100%;
  border-radius: 0.4rem;

}

.appart-details-header {
  background-color: #FF6060;
  color: white;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.appart-details-content {
  background-color: white;
  color: #333;
  padding: 15px;
  border-radius: 0 0 0.4rem 0.4rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transform: translateY(-10px);
  transition: all 0.3s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.appart-details-content.open {
  transform: translateY(0);
  opacity: 1;
  height: auto;
}

.appart-details-header img {
  transition: transform 0.3s ease;
  padding: 1rem;
}

.appart-details-header img.rotated {
  transform: rotate(180deg);
}

.appart-details-content ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.appart-details-content li {
  margin-bottom: 5px;
}