.banner {
  position: relative;
  margin: auto;
  width: 100%;
  margin-top: 40px;
}

.banner img {
  width: 80%;
  min-height: 144px;
  margin: auto;
  display: block;
  border-radius: 1.5rem;
  filter: brightness(50%)
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 80%;  
  margin: 0;
  /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.5); */
  
}

/* query test */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 1.2rem;
    width: 90%;
  }
}