.error {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  text-align: center;
  align-items: center;
  margin-top: 16rem;
}

.error-image {
  margin-bottom: 10rem;
}


.error-details {
  font-size: 30px;
}

.error-back {
  color: black;
  font-size: 1.4rem;
  margin-top: 4rem;
  border-bottom: 2px solid grey;
  text-decoration: none;
}



@media screen and (max-width: 1088px) {
  .error-details {
    text-transform: uppercase;
    font-size: 1.45rem;
    font-weight: 400;
    width: 20rem;
    }
    }

    @media (max-width: 768px) {
  .navlogo {
    max-width: 80px;
  
  }
}