.card {
    display: flex;
    /* min-height: 50vh; */
    margin-top: 2rem;
    gap: 3rem;
    flex-wrap: wrap;
    
   
    
    
}

.house {
    display: flex;
    background: linear-gradient(222deg, transparent 99%, rgba(0, 0, 0, 0.5)),#FF6060;;
    border-radius: 0.7rem; 
    width: 30%;
    min-width: 200px;
    min-height: 325px; 
    justify-content: center;
    position: relative; 
    flex-basis: 30%;
}

.house img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0.7rem; 
}

.house-title {
    position: absolute; 
    left: 1rem; 
    bottom: 1rem; 
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
}


.house::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(222deg, transparent 70%, rgba(0,0,0,0.5));
    border-radius: 0.7rem;
    z-index: 1;
}

@media screen and (max-width: 1088px) {
  .card {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 
    padding: 0;
    justify-content: center;
  }

  .house {
    width: 80%;
  }

  .house img {
    width: 100%;
    height: 325px;       
    object-fit: cover;  
  }
}